.footer {
    min-height: 8vh;
    display: flex;
    flex: 1;
    padding: 1.8rem 0;
    border-top: 2px solid #eaeaea;
    justify-content: center;
    align-items: center;
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    /* flex-grow: 1; */
  }

  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }