.container {
  padding: 0 2rem;
}

.bubble {
  margin-top: 100px;
/*   border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%; */
  content: '';
  display: block;
  position: absolute;
  border-radius: 110% 50%;
  width: 55%;
  height: 100%;
  /* transform: translate(5%, 0%); */
  
  /* margin: 100px auto; */
  position: relative;
  /* bottom: 0; */  
  z-index: 10;
  width: 100%;
  background-color: rgb(150, 190, 255);
  background-color: rgba(9, 9, 9, 0.742);
  /* background-color: rgba(9, 9, 9, 0.89); */
  height: 85%;
}



.main {
  min-height: 88vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  /* color: black; */
}

.main h1 {
  
  font-size: 40px;
  /* margin: 15px; */
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.title {
  text-align: center;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.pfp {
  margin: 40px auto;
  max-width: 300px;
  height: auto;
  transition: transform 0.2s;
}

.pfp:hover {
  transform: scale(1.12);
}

.round {
  border-radius: 10%;
}

.connect {
  margin-top: 10px;
}

.connect a {
  margin: 10px;
  padding: 12px;
}

.socials {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.icon {
  /* border: 1px solid rgb(80, 80, 80); */
  max-width: 84px;
  /* border-radius: 10px; */
  /* transition: transform 0.2s; */
  margin-top: 30px;
  border-radius: 10px;
  font-weight: 600;
  text-align: center;
  font-size: 20px;
  word-spacing: 5px;
  line-height: 1.6;
  display: flex;
  align-items: center;
  letter-spacing: 2.5px;
  cursor: pointer;
  border: 1px solid;
  padding: 0.25rem 0.5rem;
  /* box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px; */
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  -webkit-box-shadow: 2px 2px 0px 2px rgba(202, 158, 255, 1);
  -moz-box-shadow: 2px 2px 0px 2px rgba(202, 158, 255, 1);
  box-shadow: 2px 2px 0px 2px rgba(202, 158, 255, 1);
}

.icon:active {
  /* transform: scale(1.15); */
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.about {
  border-radius: 20px;
  margin: 30px 50px;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  word-spacing: 5px;
  line-height: 1.6;
  display: flex;
  align-items: center;
  letter-spacing: 2.5px;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  /* box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px; */
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  -webkit-box-shadow: 5px 5px 0px 2px rgba(202, 158, 255, 1);
  -moz-box-shadow: 5px 5px 0px 2px rgba(202, 158, 255, 1);
  box-shadow: 5px 5px 0px 2px rgba(202, 158, 255, 1);
}

.about:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.about_content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-grow: 1;
  /* flex-wrap: wrap; */
}

.hero1 {
  margin-left: auto;
  max-width: 500px;
}

.hero2 {
  /* margin-right: auto; */
  max-width: 350px;
  flex-shrink: 0;
}

.center {
  margin: 0px auto;
  text-align: center;
  max-width: 1200px;
}

.tech {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  gap: 10px 20px;
  row-gap: 10px;
  column-gap: 20px;
  max-width: 900px;
  margin: 0 auto;
}

/* .tech > * {
  flex: 1 1 140px;
  max-width: 140px;
} */

.tech_icon {
  /* min-width: 100px; */
  max-width: 120px;
  flex: 1 0 20%;

  border: 2px solid rgb(121, 121, 121);
  border-radius: 10px;
  padding: 20px;

  margin: 15px;
  transition: transform 0.2s;
}

.tech_icon:hover {
  transform: scale(1.15);
}

.separator {
  display: flex;
  align-items: center;
}

.separator .line {
  height: 1px;
  flex: 2;
  background-color: rgb(208, 208, 208);
}

.separator h1 {
  padding: 0 2rem;
}

.heading {
  margin: 0 auto;
}

.gradient_text {
  display: inline-block;
  font-weight: bolder;
  margin-bottom: 0;
  text-align: center;
  animation: background 10s linear infinite;
  background: linear-gradient(
    120deg,
    rgb(255, 196, 186) 0%,
    rgb(255, 169, 154) 10%,
    rgba(78, 170, 76, 1) 20%,
    rgba(82, 175, 183, 1) 30%,
    rgb(100, 203, 221) 40%,
    rgb(255, 118, 221) 50%,
    rgb(127, 129, 231) 60%,
    rgb(88, 200, 204) 70%,
    #96aafd 80%,
    rgba(199, 201, 88, 1) 90%,
    rgba(199, 201, 88, 1) 100%
  );
  background-size: 1000% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes background {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .main h1 {
    font-size: 20px;
  }

  .pfp {
    max-width: 200px;
  }

  .icon {
    max-width: 58px;
    padding: 2px;
    -webkit-box-shadow: 2px 2px 0px 2px rgba(202, 158, 255, 1);
    -moz-box-shadow: 2px 2px 0px 2px rgba(202, 158, 255, 1);
    box-shadow: 0px 0px 0px 2px rgba(202, 158, 255, 1);
  }

  .connect a {
    margin: 0;
  }

  .about {
    margin: 10px 5px;
    flex-direction: column;

    /* width: 300px; */
  }

  .about p {
    font-size: 16px;
  }

  .tech_icon {
    /* font-size: 14px; */
    margin: 3px;
    max-width: 70px;
    /* height: 120px; */
    padding: 10px;
  }

  .tech_icon span {
    font-size: 12px;
    /* margin: 0 auto; */
  }

  .center h1 {
    font-size: 22px;
  }


  .bubble {
    margin-top: 10px;
    border-radius: 45% -45%;
  }
  
}

@media only screen and (max-width: 768px) {

  .icon {
    max-width: 64px;
  }

  .about {
    margin: 10px 5px;
    flex-direction: column;

    /* width: 300px; */
  }
  
}

@media only screen and (min-width: 481px) and (max-width: 768px) {

  .icon {
    max-width: 65px;
    padding: 2px;
  }

}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

  .about {
    margin: 10px 5px;
    flex-direction: column;

    /* width: 300px; */
  }

}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
}

@media only screen and (min-width: 1201px) {
}

/* @media only screen and (min-width: 320px) and (max-width: 480px) {
}

@media only screen and (min-width: 481px) and (max-width: 768px) {

}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {

}

@media only screen and (min-width: 1201px) {
  
} */
